body {
    background-color: cornflowerblue;
}


.form {
    display: flex;
}



#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    font-size: xx-large;
}

input {
    width: 100%;
    min-width: 0%;
    padding: 8px 0 8px;
}

